@{
    ViewBag.Title = "Resources";
}

<div class="row p-2">
    <!-- Boostrap Table -->
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Resource</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>DataTables.net</td>
                <td>
                    <a target="_blank" href="https://datatables.net">https://datatables.net</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>DataTables Extensions</td>
                <td>
                    <a target="_blank" href="https://datatables.net/extensions/index">Extensions</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>DataTables CDN</td>
                <td>
                    <a target="_blank" href="https://cdn.datatables.net/">CDN (Content Delivery Network)</a>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Internationalisation</td>
                <td>
                    <a target="_blank" href="http://cdn.datatables.net/plug-ins/1.10.21/i18n/">Internationalisation CDNs</a>
                </td>

            </tr>
            <tr>
                <th scope="row">5</th>
                <td>DataTables (Download)</td>
                <td>
                    <a target="_blank" href="https://datatables.net/download/index">Download</a>
                </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Boostrap</td>
                <td>
                    <a target="_blank" href="https://getbootstrap.com">https://getbootstrap.com</a>
                </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>jQuery</td>
                <td>
                    <a target="_blank" href="https://jquery.com/">https://jquery.com/</a>
                </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Fake API</td>
                <td>
                    <a target="_blank" href="https://jsonplaceholder.typicode.com">Fake API</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
